<main>
  <div class="container">
    <div *ngIf="isAdmin()" class="container">
      <h2 class="home-title mb-4">Admin Users</h2>
      <div class="mt-4">
        <div class="table-responsive tbl-container bdr">
          <table class="table table-striped table-transparent table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <ng-container *ngIf="user.id !== currentUser?.id">
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteUser(user)"><fa-icon
                        [icon]="faTrash"></fa-icon></button>
                    <!-- <button class="btn btn-primary" (click)="editUser(user)">Edit</button> -->
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="!isAdmin()" class="container mt-4">
      <div class="alert alert-danger">
        Access denied. Only admins can view and manage users.
      </div>
    </div>
  </div>
</main>
