<!-- <header>
  <h1 class="title" id="home-user-title">{{pageTitle}}</h1>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/savageGames.svg" alt="" width="240">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"><fa-icon [icon]="faHome"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>


      </ul>
      <ul class="navbar-nav">
        <li class="nav-item me-2" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/profile"><fa-icon [icon]="faUser"></fa-icon></a>
        </li>

        <li class="nav-item me-2" *ngIf="isLoggedIn() && isAdmin()">
          <a class="nav-link" routerLink="/admin"><fa-icon [icon]="faGear"></fa-icon></a>
        </li>
        <li class="nav-item me-2" *ngIf="isLoggedIn()">
          <a class="nav-link position-relative" routerLink="/cart"><fa-icon [icon]="faShoppingBasket"></fa-icon>
            <span class="badge-cart bg-danger" *ngIf="cart.length > 0">{{ cart.length }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item d-flex ms-4" *ngIf="isLoggedIn()">
          <div class="">
            <a class="btn btn-outline-secondary" href="" (click)="logout()">Logout <fa-icon
                [icon]="faRightFromBracket"></fa-icon>

            </a>

          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
