<main>
  <div class="container">
    <div class="links-back">
      <div class="category-back">
        <a class="text-decoration-none link-back" (click)="goBack()">⬅️</a>
      </div>
      <div class="home-back">
        <a class="text-decoration-none" routerLink="/">🏠</a>
      </div>
    </div>
    <div id="game">
      <div classname="row">
        <h2 class="home-title">Game Details</h2>
        <div classname="col-md-8">
          <div class="game-detail-card">
            <div class="row">
              @if (product){
              <div class="col-lg-6">
                <img class="game-detail-image" src="{{product.image}}" alt="{{product.name}}">
              </div>
              <div class="col-lg-6">
                <h2 class="game-detail-title">{{product.name}}</h2>
                <p class="game-detail-description">{{product.description}}</p>
                <div class="d-flex justify-content-between">
                  <p class="game-detail-price">${{product.price}}</p>
                  <p class="game-discount">{{product.discount * 100}}%</p>
                </div>
                <div class="d-flex justify-content-end">
                  <button (click)="addToCart(product)" class="btn btn-primary" *ngIf="isLoggedIn()">
                    Add to Cart <fa-icon [icon]="faShoppingBasket"></fa-icon>
                  </button>
                  <!-- <button class="btn btn-primary">Add to Cart</button> -->
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
