<main>
  <div class="container">
    <a class="text-decoration-none" routerLink="/">⬅️</a>
    <div id="categories">
      <div class="row">
        @for(cat of categories; track cat.id){
        <div class="col-lg-4 col-md-6">
          <div class="category-card">
            <!-- <a routerLink="products/{{cat.id}}"> -->
            <a (click)="goToGames(cat.id)">
              <img class="category-image" src="{{cat.image}}" alt="{{cat.name}}">
            </a>
            <h2 class="category-title">{{cat.name}}</h2>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</main>