<main>
  <div class="container">
    <!-- <div class="jumbotron">
      <div class="img-container">
        <img src="assets/images/banner.jpg" class="img-fluid mb-3 banner-image" alt="Banner Image">
      </div>
      <h1 class="display-4 home-title">Welcome to Savage Games!</h1>
      <p class="lead">Explore a world of thrilling games.</p>

      <a class="btn btn-primary btn-lg mt-2" routerLink="/categories" role="button">
        Explore Games by Category <fa-icon [icon]="faGamepad"></fa-icon>
      </a>
    </div> -->
  </div>

  <!-- <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/game1.jpg" class="game-image" alt="Game 1">
      </div>
      <div class="col-md-4">
        <img src="assets/images/game2.jpg" class="game-image" alt="Game 2">
      </div>
      <div class="col-md-4">
        <img src="assets/images/game3.jpg" class="game-image" alt="Game 3">
      </div>
    </div>
  </div> -->


  <div class="container">
    <h2 class="home-title">New Games</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">

      @if (products) {
      @for(prod of products; track prod.id){
      <div class="col-lg-3 col-md-6">
        <div class="game-card h-100">
          <!-- <a routerLink="product/"> -->
          <a (click)="goToGameDetail(prod.id)">
            <img class="game-image" src="{{prod.image}}" alt="{{prod.name}}">
          </a>
          <h3 class="game-title fs-4">
            {{prod.name}}
          </h3>
          <!-- <p class="game-description">{{prod.description}}</p> -->
          <div class="d-flex justify-content-between align-items-center">
            <p class="game-detail-price">${{prod.price}}</p>
            <p class="game-discount">{{prod.discount * 100}}%</p>
          </div>
          <div class="d-flex justify-content-end align-items-end h-100">
            <button (click)="addToCart(prod)" class="btn btn-primary h-auto" *ngIf="isLoggedIn()" data-bs-toggle="modal"
              data-bs-target="#cartModal">
              Add to Cart <fa-icon [icon]="faShoppingBasket"></fa-icon>
            </button>
            <!-- <button class="btn btn-primary">Add to Cart</button> -->
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>

  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <h2 class="home-title">About Us</h2>
        <p>
          Welcome to Savage Games, where gaming prowess meets untamed spirit! We are the forge where passion for gaming
          ignites into unforgettable adventures.
        </p>
        <p>
          Embrace your inner savage with our handpicked selection of games, curated for warriors like you who seek
          exhilaration and domination in every battle. Whether you're conquering realms or achieving feats of skill,
          Savage Games is your companion on the path to gaming glory.
        </p>
        <p>
          Join our community of relentless gamers and unleash your potential. At Savage Games, victory isn't just a
          goal—it's a way of life. Let's conquer new horizons together, where every challenge is met with fearless
          determination and every triumph is celebrated with savage pride!
        </p>
      </div>
      <div class="col">
        <h2 class="home-title mt-4">Contact Us</h2>
        <p>Email: infosavagegames.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
  </div>
  <app-cart-modal />
</main>