<main>
  <div class="container mt-4">
    <div class="jumbotron">
      <img src="assets/images/banner.jpg" class="img-fluid mb-3" alt="Banner Image">
      <h1 class="display-4">Welcome to Dice Heaven!</h1>
      <p class="lead">Explore a world of thrilling games.</p>
      <hr class="my-4">
      <p>Get ready for an adventure filled with excitement and fun.</p>
      <a class="btn btn-primary btn-lg mt-3" href="categories.html" role="button">Explore Games</a>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/game1.jpg" class="game-image" alt="Game 1">
      </div>
      <div class="col-md-4">
        <img src="assets/images/game2.jpg" class="game-image" alt="Game 2">
      </div>
      <div class="col-md-4">
        <img src="assets/images/game3.jpg" class="game-image" alt="Game 3">
      </div>
    </div>
  </div>

  <div class="container my-4">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Welcome to Dice Heaven, your ultimate destination for all things gaming! We are passionate gamers dedicated
          to providing you with the best gaming experience possible.</p>
        <p>At Dice Heaven, we offer a wide range of games for all ages and interests. Whether you're a hardcore gamer
          looking for the latest AAA titles or a casual player in search of fun and entertaining games, we've got you
          covered.</p>
        <!-- <p>Our mission is to create a community where gamers can come together to discover, play, and share their love
          for gaming. With our curated selection of games, knowledgeable staff, and commitment to customer
          satisfaction, we strive to make Dice Heaven your go-to destination for all your gaming needs.</p> -->
        <p>Thank you for choosing Dice Heaven. Let's embark on an epic gaming journe
      </div>
      <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>Email: infodiceheaven.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
  </div>
</main>
