<main>
  <div class="container">
    <a class="text-decoration-none" routerLink="/categories">⬅️</a>
    <div id="games">
      <h2 class="home-title mb-4">Games</h2>
      <div class="row">
        @if (products) {
        @for(prod of products; track prod.id){
        <div class="col-lg-4 col-md-6">
          <div class="game-card">
            <!-- <a routerLink="product/"> -->
            <a (click)="goToGameDetail(prod.id)">
              <img class="game-image" src="{{prod.image}}" alt="{{prod.name}}">
            </a>
            <h3 class="game-title">
              <a class="text-decoration-none" (click)="goToGameDetail(prod.id)">
                {{prod.name}}
              </a>
            </h3>
            <p class="game-description">{{prod.description}}</p>
            <div class="d-flex justify-content-between">
              <p class="game-detail-price">${{prod.price}}</p>
              <p class="game-discount">{{prod.discount * 100}}%</p>
            </div>
            <div class="d-flex justify-content-end">
              <button (click)="addToCart(prod)" class="btn btn-primary" *ngIf="isLoggedIn()" data-bs-toggle="modal"
                data-bs-target="#cartModal">Add to Cart <fa-icon [icon]="faShoppingBasket"></fa-icon></button>
              <!-- <button class="btn btn-primary">Add to Cart</button> -->
            </div>
          </div>
        </div>
        }
        }
      </div>
    </div>
  </div>
  <app-cart-modal />
</main>
