<main class="">
  <div class="container">
    <a class="text-decoration-none" routerLink="/profile">⬅️</a>
    <form [formGroup]="editForm" (submit)="onSubmit()" class="mt-4">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control mt-2" id="username" formControlName="username"
          placeholder="Enter your username">
        <div
          *ngIf="editForm.get('username')?.invalid && (editForm.get('username')?.dirty || editForm.get('username')?.touched)"
          class="form-error">
          <div *ngIf="editForm.get('username')?.errors?.['required']">Username is required.</div>
          <div *ngIf="editForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters
            long.
          </div>
        </div>
      </div>

      <div class="form-group mt-4">
        <label for="email">Email</label>
        <input type="email" class="form-control mt-2" id="email" formControlName="email" placeholder="Enter your email">
        <div *ngIf="editForm.get('email')?.invalid && (editForm.get('email')?.dirty || editForm.get('email')?.touched)"
          class="form-error">
          <div *ngIf="editForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="editForm.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>

      <div class="form-group mt-4">
        <label for="birthDate">BirthDate</label>
        <input type="date" class="form-control mt-2" id="birthDate" formControlName="birthDate">
        <div
          *ngIf="editForm.get('birthDate')?.invalid && (editForm.get('birthDate')?.dirty || editForm.get('birthDate')?.touched)"
          class="form-error">
          <div *ngIf="editForm.get('birthDate')?.errors?.['required']">Birth Date is required.</div>
          <div *ngIf="editForm.get('birthDate')?.errors?.['minAge']">
            Must be at least {{ editForm.get('birthDate')?.errors?.['minAge'].requiredAge }} years old (you
            are {{ editForm.get('birthDate')?.errors?.['minAge'].actualAge }}).
          </div>
        </div>
      </div>

      <button class="btn btn-primary mt-4" type="submit">Save Changes</button>
    </form>
  </div>
</main>
