<main class="mt-4">
  <div class="container">
    <a class="text-decoration-none" href="index.html">⬅️</a>

    <div>
      <p><strong>Name:</strong> <span id="name">{{currentUser.username }}</span></p>
      <p><strong>Email:</strong> <span id="email"> {{currentUser.email }}</span></p>
      <p><strong>Birthdate:</strong> <span id="birthdate">{{currentUser.birthDate }}</span></p>
    </div>
    <div class="">
      <a routerLink="/edit-profile" class="btn btn-primary me-2">Edit Profile</a>
    </div>
  </div>

</main>