<main>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form id="recoverForm">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your email"
              required>
          </div>
          <button type="submit" class="btn btn-primary">Recover Account</button>
        </form>
        <a href="login.html" class="mt-4">Go Back to Login</a>
      </div>
    </div>
  </div>
</main>
